
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
h4{
    margin-top: 0px;
}

h2{
    font-weight: bold;
}

p,li, .checkbox{
    font-size: 0.9em;

}


.centered{
    text-align: center;
}
.navbar{
    border-radius: 0;
    margin:0;
}
.phone p{
    font-size: 20px;
    margin: 0;
}
#header{
    padding-top: 15px;
}
#header i, .footer i{
    color: #a71400;
    font-size: 30px;
    padding: 20px;
}

.modal{
    z-index: 10000;
}
.form-control{
    border-radius: 2px;
    padding: 20px;
    margin: 0 0 27px;
    border: 1px solid #c0c0c0;
}
.modal-dialog{
    max-width: 400px;
    margin-top: 0px;
}
.modal-content{
    border-radius: 0;
}
.modal-body{
    padding: 25px;
}
.bn{
    padding: 14px;
    width: 100%;
    background: #a71400;
    color: white;
    border-radius: 0;
}
a{
    color: #a71400;
}

#sel1{
    padding: 0;
}
.number {
    margin-left: 67px;
    margin-bottom: -20px;
}
.price{
    text-align: left;
}

.btn{
    font-size: 16px;
    padding: 12px;
}
.btn_order{
    margin: 10px;
    background: #a71400;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.footer{
    background-color: #f2f2f2;
    padding-top: 15px;
}
#toTop {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 11px;
    margin: 10px;
    background: #a71400;
    color: white;
    text-align:center;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    font-size:16px;
    display:none;
}
.logo p{
    color: #a71400;
    font-weight: bold;
    font-size: 36px;
    margin-left: -93px;
    margin-top: -10px;
}
.logo img{
    width: 86%;
}

.calendar{
    padding-right: 0px;
    padding-left: 0px; !important;
}
.calendar div{
    padding-right: 0px;
    padding-left: 0px;
}
.calendar input{
    border-radius: 2px;
    padding: 6px;
    margin: 0 0 27px;
    border: 1px solid #c0c0c0;
    width: 90% !important;
}
.calendar i{
    margin-left: -30px;
}
.dop-service{

    padding-top: 20px;
    text-align: left;
    -webkit-box-shadow: 15px 18px 192px -39px rgba(0,0,0,0.65);
    -moz-box-shadow: 15px 18px 192px -39px rgba(0,0,0,0.65);
    box-shadow: 15px 18px 192px -39px rgba(0,0,0,0.65);
    position: sticky; /* Липкое позиционирование */
    top: 52px; /* Положение сверху */

}

th{border-top: 0 !important;
    color: #a71400;
}
.thumbnail{
    border-radius: 40px;
}
.car-info {
    line-height: 1.3;
    padding-left: 0px;


}
.grad {
    padding-top: 60px;
    background: #f2f2f2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f2f2f2, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f2f2f2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f2f2f2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f2f2f2, white); /* Standard syntax */
}
.other-select {
    display: table;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 17px 0 0;
    border: 1px solid #cdcdcd;
    position: relative
}
.other-select  b {
    position: absolute;
    color: #39352b;
    font: 12px/22px arial, sans-serif;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 22px;
    background: #fafafa;
    top: -5px;
    right: -4px;
}
.other-select span{
    display: table-cell;
    vertical-align: middle;
}
#menu1 p{
    overflow: hidden;
}
#menu1 p:after{
    content:'............................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
#menu1 p span:first-of-type{float:left;
    margin-right: 10px;}
#menu1 p span:last-of-type {
    float:right;
    margin-left: 10px;
}

/* на sm */
@media (max-width: 768px) {
    .grad{
        padding-top: 0;
        margin-top: -20px;
    }
    .logo > .col-lg-offset-1 {
        padding-left: 0px;
    }
    .logo img{
        width: 100%;
    }
    .logo p{

        font-size: 21px;
        margin-left: -40px;
    }
    .phone p{
        font-size: 16px;
        margin: 0;
    }
    .phone{
        padding-right: 0px;
        padding-left: 0px;
    }
    h2{
        font-size: 24px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-7 button{
        padding: 0;
    }
    .col-lg-7{
        padding-left: 0px;
        padding-right: 0px;
    }
    .hidden-xs{
        display: none;
    }

    .car-info,.dop-service{
        padding-left: 30px;
        padding-right: 30px;
}
    .tab-content {
        padding-left: 15px;
        padding-right: 15px;
    }

}


/* на md */
@media (min-width: 992px) {

    /* на lg */
    @media (min-width: 1200px) {

    }    }