
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.header{
    padding:20px 0px;
}

i.fa.fa-map-marker{
        color: #00b5d1;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        border: 3px solid #00b5d1;
        width: 40px;
        height: 40px;
            padding-top: 2px;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
h4{
    margin-top: 0px;
}

h2{
    font-weight: bold;
}

p,li, .checkbox{
    font-size: 0.9em;

}


.centered{
    text-align: center;
}
.navbar{
    border-radius: 0;
    margin:0;
}
.car-block{
    background: white;
    box-shadow: 0px -8px 25px -4px rgba(0,0,0,0.1);
    margin-right: 0px;
    margin-left: 0px;
    border-top: 1px solid #ddd;
}
.car_top p{
    margin-bottom: 0px;
}
.car_top{
    padding-top: 15px;
}

.car-col{
    padding-top: 15px;
}
.car-col p{
    margin-bottom: 0;
}
.phone p{
    font-size: 20px;
    margin: 0;
}
#header{
    padding-top: 15px;
}

.thumbnail{
    border-radius: 40px;
}
.modal{
    z-index: 10000;
}
#prokat{
    margin-bottom: 38px;
}
.form-control{
    border-radius: 2px;
    padding: 20px;
    margin: 0 0 27px;
    border: 1px solid #c0c0c0;
}
.modal-dialog{
    max-width: 400px;
    margin-top: 0px;
}
.modal-content{
    border-radius: 0;
}
.modal-body{
    padding: 25px;
}
.bn{
    padding: 14px;
    width: 100%;
    background: #a71400;
    color: white;
    border-radius: 0;
}
a{
    color: #a71400;
}

#sel1{
    padding: 0;
}
.number {
    margin-left: 67px;
    margin-bottom: -20px;
}
.price{
    text-align: left;
}

.btn{
    font-size: 16px;
    padding: 12px;
}
.btn_order{
    margin: 10px;
    background: #a71400;
    color: white;
     padding-right: 20px;
     padding-left: 20px;
 }
.btn_data{
    margin: 10px;
    background: white;
    border: 1px solid #ddd;
}
th{
    color: #a71400;
}
.cars{
    margin-top: 15px;
    background-color: #f2f2f2;
}
#demo{
    background: red;
}
.panel{
    margin-right: 0px;
    margin-left: 0px;
}

th{border-top: 0 !important;

}
.dop-service{
    text-align: left;
}

.car_brand img{
    height: 47px;
    width: 47px;
}
.car_type img{
    height: 47px;
    width: 107px;
}
.car-filter{
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
}
.car-filter button{
    margin:3px 1px;
}
.footer{
    background-color: #f2f2f2;
    padding-top: 15px;
}
#toTop {
    border: 1px solid transparent;
    border-radius: 4px;
     padding: 11px;
    margin: 10px;
    background: #a71400;
    color: white;
    text-align:center;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    font-size:16px;
    display:none;
}
.logo p{
    color: #a71400;
    font-weight: bold;
    font-size: 36px;
    margin-left: -93px;
    margin-top: -10px;
}
.logo img{
    width: 86%;
}
.panel a{
    margin: -20px;
    color: #ddd;
    opacity: 1;
    background: none !important;
}
.carousel2{
    width: 82%;
    margin: auto;
}
.calendar{

    padding-left: 0px; !important;
}
.calendar input{
    border-radius: 2px;
    padding: 6px;
    margin: 0 0 27px;
    border: 1px solid #c0c0c0;
    width: 80% !important;
}
.calendar i{
    margin-left: -30px;
}
.new_car{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}
.other-select {
    display: table;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 17px 0 0;
    border: 1px solid #cdcdcd;
    position: relative
}
.other-select  b {
    position: absolute;
    color: #39352b;
    font: 12px/22px arial, sans-serif;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 22px;
    background: white;
    top: -5px;
    right: -4px;
}
.other-select span{
    display: table-cell;
    vertical-align: middle;
}

/* на sm */
@media (max-width: 768px) {
    .logo > .col-lg-offset-1 {
        padding-left: 0px;
    }
    .logo img{
        width: 100%;
    }
    .logo p{

        font-size: 21px;
        margin-left: -40px;
    }
    .phone p{
        font-size: 16px;
        margin: 0;
    }
    .phone{
        padding-right: 0px;
        padding-left: 0px;
    }
    h2{
        font-size: 24px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-7 button{
        padding: 0;
    }
    .col-lg-7{
        padding-left: 0px;
        padding-right: 0px;
    }
    .hidden-xs{
        display: none;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .table{
        margin-bottom: 0px;
    }
    .car-col{
        padding-top: 0px;
        font-size: 14px;
    }
    .img-responsive{
        margin: auto;
        width: 80%;
    }

}
}


/* на md */
@media (min-width: 992px) {

/* на lg */
@media (min-width: 1200px) {

}